@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    border: none;
    outline: none;
    text-decoration: none;
    color: #000;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

p {
    color: #000;
}

nav,
.nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration-color: black;
    font-size: 1.25rem;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 5.5px solid;
    width: 15ch;
}

.logo a {
    font-size: 1.75rem;
}

#profile {
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20.5%;
    padding-top: 7.5%;
}

.section-pic-container {}

.section-pic-container img {
    width: 250px;
    height: auto;
    border-radius: 50%;
}

.section-text {
    display: flex;
    flex-direction: column;
}

.section-text p {
    font-weight: 600;
}

.section-text-p1 {
    text-align: right;
    font-size: 1.35rem;
}

.title {
    font-size: 2.5rem;
    justify-content: center;
    text-align: center;
}

.section-text-p2 {
    text-align: left;
    font-size: 1.75rem;
    color: #000;
    font-style: italic;
    text-decoration: underline;
    text-underline-offset: #000;
}

.socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.icon {
    cursor: pointer;
    height: 3rem;
    margin-top: 1rem;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 5vh;
}

.btn-curriculo {
    font-style: 1rem;
    width: 175px;
    height: 5vh;
    border-radius: 25px;
    background-color: white;
    border: #000 2px solid;
    cursor: pointer;
}

.btn-contato {
    width: 225px;
    height: 5vh;
    border-radius: 25px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.btn-contato a {
    font-size: 1rem;
    color: #fff;
}

.btn-curriculo:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

/* ============================================================ */

#about {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.containerabout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-container {
    display: flex;
}

.about-containers {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about-text-p1 {
    font-size: 1.5rem;
}

.about-title {
    font-size: 3rem;
}

.section-container {
    display: flex;
    flex-direction: column;
}

.section-container img {
    height: 350px;
    width: auto;
    justify-content: center;
}

.about-details-container {
    display: flex;
    flex-direction: column;
}

.about-containers {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.details-container img {
    width: 70px;
    height: auto;
    left: 50%;
}

.details-container {
    text-align: center;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 5%;
    margin-top: 1.5%;
}

.text-container h1 {
    font-size: 3rem;
}

.text-container p {
    width: 1050px;
    font-size: 1.15rem;
}

.p-textcontainer {
    font-size: 2rem;
}

/* ======================================================== */

#experience {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.experience-text-p1 {
    font-size: 1.5rem;
    text-align: center;
}

.experience-title {
    font-size: 3rem;
    text-align: center;
}

.experience-containers {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10%;
    margin-top: 2.5%;
}

.article-container {
    display: flex;
    flex-direction: column;
}

article {
    display: flex;
    flex-direction: row;
}

/* =============================================== */

#projects {
    width: 100vw;
    height: auto;
    margin-top: 5%;
}

.projects-details-container {
    display: flex;
    gap: 5%;
    justify-content: space-around; /* Distribui os cartões igualmente ao longo do espaço disponível */
    flex-wrap: wrap;
}

.projects-title {
    font-size: 1.5rem;
    text-align: center;
}

.projects-subtitle {
    font-size: 3rem;
    text-align: center;
}

.projects-container-color-container {
    flex-basis: calc(20% - 20px); /* Define a largura de cada cartão com uma margem entre eles */
    padding: 20px;
    margin: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.2s;
}

.project-title {
    font-size: 1rem;
    margin-left: 5%;
}

.projects-container-color-container img {
    width: 350px;
    height: auto;
}

.project-subtitle {
    font-size: .25rem;
}

.project-subtitle{
    font-size: .65rem;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2.5vh;
}

.btn {
    font-weight: 550;
    transition: all 300ms ease;
    padding: 1rem;
    width: 125px;
    border-radius: 2rem;
}

.btn-color-1 {
    background-color: white;
    border: #000 2px solid;
    cursor: pointer;
}

.btn-color-2 {
    background-color: black;
    color: white;
    cursor: pointer;
}

.btn-color-1:hover {
    background: #000;
    color: white;
    cursor: pointer;
}

/* ========================================= */


#contact {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5%;
}

.contact-text-p1 {
    margin-left: 5%;
    font-size: 1.5rem;
    text-align: left;
}

.contact-title {
    margin-left: 5%;
    font-size: 3rem;
    text-align: left;
}

.contato-items {
    margin-left: 5%;
}

.contato-items h2 {
    font-size: 2rem;
    text-align: left;
}

@media screen and (max-width: 768px) {

    /* Estilos para telas menores, como smartphones */

    .experience-containers {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 5%;
        margin-bottom: 5%;
    }

    .article-container {
        margin-top: 5%;
        margin-left: 5%;
        margin-bottom: 5%;
    }

    article {
        margin-top: 5%;
    }

    .text-container {
        display: flex;
    }

    .text-container p {
        width: 500px;
        font-size: 15px;
        margin-left: 5%;
        margin-right: 5%;
        text-align: left;
        justify-content: center;
    }

    .about-containers {
        display: flex;
        flex-direction: column;
    }

    .details-container img {
        width: 50px;
        height: auto;
        left: 50%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    /* Estilos para tablets */
    .text-container {
        display: flex;
    }
}

@media screen and (min-width: 1025px) {
    /* Estilos para telas maiores, como desktops */
}