/* Pequenas Telas */
@media (max-width: 991) {
    /* Estilos para telas pequenas */
    html{
      font-size: 55%;
    }

    #profile{
      padding-left: 5%;
    }

    article{
      display: flex;
      flex-direction: column;
    }

    .titulo-container{
      font-size: 100%;
    }
  }
  
/* Telas Médias */
@media (max-width: 768px) {
/* Estilos para telas médias */

}
  
/* Telas Maiores */
@media (max-width: 450px) {
/* Estilos para telas maiores */
  html{
    font-size: 50%;
  }
}